<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="canCruz.css">
    <title>Can Cruz</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row start">
            <div class="col-md-12 navBar">
                <div class="logo">
                    <img src="" alt="canCruz">
                </div>
                <nav>
                    <ul class="list">
                        <li><a href="https://www.baidu.com">Inici</a></li>
                        <li><a href="">La Masia</a></li>
                        <li><a href="">Dormir</a></li>
                        <li><a href="">Que fem</a></li>
                        <li><a href="">Contacta'm</a></li>
                    </ul>
                </nav>
            </div>
            <div class="reservationDate">
                <form action="" method="POST">
                    <input type="date" name="checkinDate">
                    <input type="date" name="checkoutDate">
                    <input type="submit" name="startButton" button>
                </form>


            </div>
        </div>

        <div class="row masia">
            <h1>La Masia</h1>
            <!--  <div class="col-md-12">
            </div> -->
            <div class="col-md-12 masia-top">
                <div class="imageMasia"></div>
                <div class="descriptionMasia">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, laboriosam! Nemo quidem libero, laborum, sit quis, fugiat maiores quisquam tenetur debitis excepturi sequi. Laboriosam velit error quo debitis, nam expedita!
                </div>
            </div>
            <div class="col-md-12 masia-bottom">
                    <div class="descriptionMasia2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores eius repellendus? Quaerat omnis minima adipisci quia, quas deleniti? Architecto modi officia itaque aperiam quia obcaecati optio sit, blanditiis fugiat.</div>
                    <div class="imageMasia2"></div>
            </div>

            <div class="row sleep">
                <h1>
                    Dormir
                </h1>
                <div class="col-md-12 sleep-room">
                    <div class="col-md-10 room-slider">

                    </div>
                </div>
            </div>

            <div class="row aboutUs">
                <div class="col-md-12">
                </div>
            </div>

            <div class="row contact">
                <div class="col-md-12">

                </div>
            </div>

            <div class="row bottom">
                <div class="col-md-12">

                </div>
            </div>

        </div>

</body>


</html>
