<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="canCruz.css">
    <title>Can Cruz</title>
</head>

<body>
    <div class="container-fluid">

        <div class="row start">

            <div class="col-md-12 navBar">
                <div class="logo">
                    <img src="" alt="canCruz">
                </div>
                <nav>
                    <ul class="list">
                        <li><a href="">La Masia</a></li>
                        <li><a href="">Dormir</a></li>
                        <li><a href="">Que fem?</a></li>
                        <li><a href="">Contacta'm</a></li>
                    </ul>
                </nav>
            </div>
            <h1 id="slogan">Quan t'apropes a la natura,
                <br>
                t'apropes a Can Cruz
            </h1>
            <div class="reservationDate">
                <form action="" method="POST" id="form1">
                    <input type="date" name="checkinDate">
                    <input type="date" name="checkoutDate">
                    <input type="submit" name="startButton" button>
                </form>
            </div>
        </div>

        <div class="row masia">
            <h1>La Masia</h1>
            <!--  <div class="col-md-12">
            </div> -->
            <div class="col-md-12 masia-top">
                <div class="imageMasia"></div>
                <div class="descriptionMasia">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, laboriosam! Nemo quidem libero,
                    laborum, sit quis, fugiat maiores quisquam tenetur debitis excepturi sequi. Laboriosam velit error
                    quo debitis, nam expedita!
                </div>
            </div>
            <div class="col-md-12 masia-bottom">
                <div class="descriptionMasia2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores
                    eius repellendus? Quaerat omnis minima adipisci quia, quas deleniti? Architecto modi officia itaque
                    aperiam quia obcaecati optio sit, blanditiis fugiat.</div>
                <div class="imageMasia2"></div>
            </div>
        </div>
        <div class="row sleep">
            <h1>
                Dormir
            </h1>
            <div class="col-md-12 sleep-room">
                <div class="col-md-10 room-slider">

                </div>
            </div>
        </div>

        <div class="row aboutUs">
            <h1>Que fem?</h1>
            <!--  <div class="col-md-12">
                </div> -->
            <div class="col-md-12 about-top">
                <div class="imageMasia"></div>
                <div class="descriptionMasia">
                    <h2>Comida Eco</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, laboriosam! Nemo quidem libero,
                    laborum, sit quis, fugiat maiores quisquam tenetur debitis excepturi sequi. Laboriosam velit error
                    quo debitis, nam expedita!
                </div>
            </div>
            <div class="col-md-12 about-middle">
                <div class="descriptionMasia2">
                    <h2>Activitats</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores
                    eius repellendus? Quaerat omnis minima adipisci quia, quas deleniti? Architecto modi officia itaque
                    aperiam quia obcaecati optio sit, blanditiis fugiat.
                </div>
                <div class="imageMasia2"></div>
            </div>
            <div class="col-md-12 about-bottom">
                <div class="imageMasia2"></div>
                <div class="descriptionMasia2">
                    <h2> L'hort Eco friendly</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores
                    eius repellendus? Quaerat omnis minima adipisci quia, quas deleniti? Architecto modi officia itaque
                    aperiam quia obcaecati optio sit, blanditiis fugiat.
                </div>
            </div>
        </div>

        <div class="row contact">
            <h1>Contacte</h1>
            <div class="col-md-12 mapForm">
                <div class="formConctactAndLocation">
                    <div class="formContact">
                        <form action="" method="post" id="contactForm1">


                            <input type="text" placeholder="Nom" id="name1">


                            <input type="text" placeholder="Email">



                            <input type="number" placeholder="Telf">


                            <input type="text" placeholder="Descripció pregunta">



                            <input type="submit" value="Submit">

                        </form>
                        <div class="socialContact">
                            <div class="icon">
                                <img src="assets/portalMasiaCanCruz.jpg" alt="" class="socialIcon">
                                <p class="socialD">Can cruz</p>
                            </div>
                            <div class="icon">
                                <img src="" alt="" class="socialIcon">
                                <p class="socialD">Can cruz</p>
                            </div>
                            <div class="icon">
                                <img src="" alt="" class="socialIcon">
                                <p class="socialD">Can cruz</p>
                            </div>
                            <div class="icon">
                                <img src="" alt="" class="socialIcon">
                                <p class="socialD">Can cruz</p>
                            </div>
                        </div>
                    </div>

                    <div class="location">
                        <div class="locationCanCruz">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87105.77022291924!2d2.1594949436943267!3d41.81255674358949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4dc03ac836b3d%3A0x44fb7717366a4b90!2sCan%20Plans%2C%2008550%2C%20Barcelona!5e0!3m2!1ses!2ses!4v1567758053511!5m2!1ses!2ses"
                                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>

                        <div class="locationAddress">

                            <img src="assets/locationIcon.png" alt="iconMaps" class="locationIcon">


                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam non sunt consequatur
                                velit, provident libero debitis doloribus quaerat ducimus eius sed, in nostrum qui
                                consequuntur deleniti at quidem voluptatibus. Omnis!</p>

                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="row bottom">
            <div class="col-md-12">

            </div>
        </div>

    </div>

</body>


</html>
