.container-fluid {
  height: 100%;
}

.masia,
.sleep,
.aboutUs,
.contact {
  height: 70vh;
}

.masia-top,
.masia-bottom {
  height: 31.7vh;
  display: flex;
}

.imageMasia {
  overflow: hidden;
  text-align: center;
  img {
    height: 100%;
  }
}

.imageMasia2 {
  overflow: hidden;
  text-align: center;
  img {
    height: 100%;
  }
}

.imageMasia2,
.descriptionMasia2 {
  height: 100%;
  width: 50%;
}
