.sleep-room {
    height: 70%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-slider{
    height: 80%;
    width: 90%;

}
h1{
    text-align: center;
}