body {
  width: 100%;
  font-family: Rokkitt;
}

.start {
  height: 100vh;
  background-image: url("assets/portalMasiaCanCruz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  .reservationDate {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    

    #form1 {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      input[type="date"] {
        background-color: transparent;
        color: #fff;
        border: none;
        border-bottom: 2px dashed #fff;
        font-family: Rokkitt-Regular;
        text-align: center;
        padding: 2px 5px;
        font-size: 20px;
        font-weight: 150;
        text-align: center;
      }
      input[type="submit"]{
        background-color: transparent;
        color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
      }
    
        
      }

    }
  }
  
  #slogan {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: $startSlogan-size;
    height: 100px;
    color: #fff;
    @media screen and (min-width: $break-small) {
      font-size: $startSlogan-size-font-mobile;
    }
    @media screen and (min-width: $break-large) {
      font-size: $startSlogan-size-font-desktop;
    }
  }
  .navBar {
    display: flex;
    max-height: 100px;
    padding: 5%;
    @media screen and (min-width: $break-small) {
        padding: 5%;
      }
      @media screen and (min-width: $break-large) {
        padding: 5%;
      }

    .logo {
      height: 10px;
      width: 4rem;

        svg {
            fill: $colorLogo;
            width: 120px;
            height: 100px;
        }
    }

    nav {
      display: flex;
      justify-content: center;
      .list {
        li {
          display: inline-block;
          padding-right: 2rem;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }

