/* * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item{
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    height: 100vh;
    padding-top: 150px;
}

.grid-item input {
    margin-top: 200px;
}
.grid-item select {
    margin-top: 200px;
}